.container{
  width: 250px;
  height: 350px;
  margin: auto;
  display: grid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  grid-template-rows: 8fr 3fr;
  background: linear-gradient(315deg, #cecece, #ffffff );
  border-radius: 30px;
  box-shadow:  15px 15px 42px #8a8a8a,
         -15px -15px 42px #ffffff;
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name_box{
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name{
  text-align: left;
}

.length{
  text-align: right;
}

.play{
  width: 100px;
  border-radius: 15px;
  line-height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  5px 5px 10px #5a5a5a,
             -5px -5px 10px #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  transition: 0.5s;
  margin: auto;
}
.play:active{
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  inset 3px 3px 3px #5a5a5a,
               inset -6px -6px 9px #ffffff;
}

.link{
  text-decoration: none;
  color: inherit;
}
