.name{
  width: 100%;
  height: 100%;
}
.buttons{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.information_box{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
}
