.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.line{
  width: 100%;
  height: 8px;
  margin: auto;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #777777,
            inset -5px -5px 10px #ffffff;
  border-radius: 4px;
  position: relative;
}

.line_duration{
  position: absolute;
  width: 0%;
  height: 8px;
  background: #00ffea;
  box-shadow: 0 0 10px #00ffea;

}

.point{
  margin-top: -2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px #777777,
             -5px -5px 10px #ffffff;
}

.duration{
  display: block;
}
