.container_music_list{
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  padding-left: 10px;
  margin: 0;
  background: linear-gradient(315deg, #cecece, #ffffff );
  box-shadow:  15px 15px 42px #8a8a8a,
         -15px -15px 42px #ffffff;
}

.container_music_list-enter-active{
  animation: open_animate 0.5s ease-in;
}

.container_music_list-enter-done{
  margin-left: 0;
}

.container_music_list-exit-active{
  animation: close_animate 0.53s ease-in;
}

.container_music_list-exit-done{
  margin-left: -120%;
}


@keyframes open_animate {
  from{margin-left: -100%;}
  to{margin-left: 0;}
}
@keyframes close_animate {
  from{margin-left: 0;}
  to{margin-left: -120%;}
}
