.name{
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 150%;
}


.wrap{
  max-height: 90vh;
  overflow-y: auto;
}

.item{
  font-size: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  height: 40px;
  line-height: 40px;
  overflow-y:hidden;
}

.active_item{
  font-size: 100%;
  padding: 5px;
  color: rgba(50, 200, 200, 1);
  border-bottom: 1px solid rgba(50, 200, 200, 1);
  height: 40px;
  line-height: 40px;
  overflow-y:hidden;
}

.item:hover{
  color: rgba(50, 200, 200, 1);
  border-bottom: 1px solid rgba(50, 200, 200, 1);
}
