.container{
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  margin: 0;
  background: linear-gradient(315deg, #cecece, #ffffff );
  box-shadow:  15px 15px 42px #8a8a8a,
         -15px -15px 42px #ffffff;
}

.name{
  text-align: center;
  margin-bottom: 20px;
  font-size: 150%;
}

.item{
  font-size: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  height: 40px;
  line-height: 40px;
  overflow-y:hidden;
}

.active_item{
  font-size: 100%;
  padding: 5px;
  color: rgba(50, 200, 200, 1);
  border-bottom: 1px solid rgba(50, 200, 200, 1);
  height: 40px;
  line-height: 40px;
  overflow-y:hidden;
}

.item:hover{
  color: rgba(50, 200, 200, 1);
  border-bottom: 1px solid rgba(50, 200, 200, 1);
}
